@tailwind base;
@tailwind components;
@tailwind utilities;




html, body {

  margin: 0;
  padding: 0;
}

:root {
  --light-text-color: #000; 
  --dark-text-color: #fff; 
}

.font{
  font-family: 'ITC Eras Book', sans-serif;
  font-size: x-large;
  color: #FFFFFF;
 
}

.header {  
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
}

.header-light {
  background: #EEEEEE; /* 亮模式背景 */
  color: var(--light-text-color);    /* 亮模式字体颜色 */
}

.header-dark {
  background: 222831; /* 暗黑模式背景 */
  color: #fff;         /* 暗黑模式字体颜色 */
}
