@tailwind base;
@tailwind components;
@tailwind utilities;




html, body {

  margin: 0;
  padding: 0;
}

:root {
  --light-text-color: #000; 
  --dark-text-color: #fff; 
}

.font{
  font-family: 'ITC Eras Book', sans-serif;
  font-size: x-large;
  color: #FFFFFF;
 
}

.header {  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
  height: 80px;
}

.header-light {
  background: #EEEEEE; 
  color: var(--light-text-color);    
}

.header-dark {
  background: 222831; 
  color: #fff;         
}


.content {  
  padding: 24px;
  height: 80px;
}

.content-light {
  background: #000000; 
  color: var(--light-text-color);    
}

.content-dark {
  background: 222831; 
  color: #fff;         /* 暗黑模式字体颜色 */
}